<% layout('layout') -%>

    <div class="posts">
        <ul>
      <% comments.forEach(function(comment) { %>
      <li>
        <div id="all">
          <div id="post">
            <h3><%= comment.comment %></h3>
            <p>Posted by: <span><%= comment.username %></span></p>
            <p>Date: <span><%= comment.createdAt %></span></p>
        </div>
        </div>
      </li>
      <% }); %>
    </ul>
    </div>
