<% layout('layout-other') -%>

<h1>Comment...</h1>

<div class="container">
        <div class="image"><img src="http://66.media.tumblr.com/5a9d0bbbe2ef23cc4ce77810a407fcdd/tumblr_mnh1flPnsB1s199fdo1_250.gif" alt="cat gif"></div>

        <div class="form">
            <form action="/comment" method="POST">
                 <div>
                       <TEXTAREA name="comment" rows="8" cols="40"></TEXTAREA>
                       <input type="hidden" name="postId" value=<%=postId %>>
                 </div>
                 
                 <button type="submit">Comment!😱</button>
            </form>
            
        <div class="homepage">
                <form action="https://reddit-nodejs-api-workshop-klingat.c9users.io/posts">
                  <input type="submit" value="<< back to homepage">
                </form>
        </div>
        
        </div>
            
        
</div>
