<% layout('layout-other') -%>

    <h1>Create a Post</h1>

        <div class="container">
        <div class="image"><img src="http://i.imgur.com/Gm5ZmDs.gif" alt="cat gif"></div>

        <div class="form">
            <form id="createPost" action="/createPost" method="POST">
                 <div class="url">
                    <input type="text" name="url" placeholder="Enter URL to content">
                    <p class="username-error"></p>
                 </div>
                 <div class="title">
                    <input type="text" name="title" placeholder="Enter title">
                    <p class="password-error"></p>
                 </div>
                 <div id="button">
                 <button type="submit">Create!😱</button>
                 </div>
            </form>
            
            <div class="homepage">
                <form action="https://reddit-nodejs-api-workshop-klingat.c9users.io/posts">
                    <input type="submit" value="<< back to homepage">
                </form>
            </div>
      
      
        </div>
        </div>
