<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app-other.css"/>
    <link rel="icon" 
      type="image/png" 
      href="http://cdn.shopify.com/s/files/1/0185/5092/products/persons-0076.png?v=1369543921https://pixabay.com/static/uploads/photo/2012/05/07/03/24/baby-47809_960_720.png">
      <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
      <script type="text/javascript" src="/main.js"></script>
  </head>
  
  <body>
    
    <main>
      
      <%- body -%>
      
    </main>

    <footer>&copy; 2016 Kash Money</footer>
    
  </body>
</html>