<html>
    <head>
        <style>
        body {
            background: linear-gradient(180deg, #FFCCD3, #47d1cc);
        }
        
        form {
            position: center;
            padding: 10, 10, 10, 10;
        }
        
        input { 
            font-size: 16px; 
            color:grey;
        }
        
        button {
            font-size: 20px;
            color: #47D1CC;
            font-family: "Avenir Next Condensed";
        }
        
        #button {
            text-align: center;
            padding-top: 25px;
        }
        
        h1 {
            color: #47D1CC;
            font-family: "Avenir Next Condensed";
            font-size: 50px;
            text-shadow: 5px 3px 10px #FFFFFF;
            text-align: center;
            /*letter-spacing: 0px;*/
            margin-top: 75px;
            margin-bottom: 0;
        }
        
        h3 {
            color: #f48695;
            font-family: "Qwigley";
            text-align: center;
            margin-top: 0px;
            margin-bottom: 25px;
            /*text-shadow: 1px 1px 1px black;*/
            font-size: 35px;
            letter-spacing: 3px;
        }
        
        #url {
            text-align: center;
            padding-bottom: 5px;
        }
        
        #title {
            text-align: center;
        }
        
        img {
            width: 200;
            border-radius: 10px;
        }
        
        .container {
            margin: 0 auto;
            width: 400;
        }
        
        .image {
            float: left;
            width: 200px;
        }
        
        .form {
            float: right;
            width: 200;
            padding-top: 25px;
        }
        
        .homepage{
          float:left;
          padding-left: 26;
        }
        
        </style>
    </head>
    <body>
        
     
    <h1>Welcome back!</h1>
    <h3>Login here to post stuff!</h3>

    <div class="container">
        <div class="image"><img src="http://i.imgur.com/1uYroRF.gif" alt="cat gif"></div>

        <div class="form">
            <form action="/login" method="POST">
                 <div id="url">
                    <input type="text" name="username" placeholder="Enter username">
                 </div>
                 <div id="title">
                    <input type="password" name="password" placeholder="Enter password">
                 </div>
                 <div id="button">
                 <button type="submit">Login😏</button>
                 </div>
            </form>
        </div>
        
        <div class="homepage">
        <form action="https://reddit-nodejs-api-workshop-klingat.c9users.io/posts">
          <input type="submit" value="<< back to homepage">
        </form>
      </div>
    </div>
    </body>
</html>
