<% layout('layout-other') -%>

<h1>Welcome back!</h1>

<h3>Login here to post stuff!</h3>

<div class="container">
        
        <div id="tap-cat"><img src="http://i.imgur.com/1uYroRF.gif" alt="cat gif"></div>

        <div id="right">
            <div class="form">
                <form action="/login" method="POST">
                     <div id="url">
                        <input type="text" name="username" placeholder="Enter username">
                     </div>
                     <div id="title">
                        <input type="password" name="password" placeholder="Enter password">
                     </div>
                     <div id="button">
                     <button type="submit">Login😏</button>
                     </div>
                </form>
            </div>
            <div class="homepage">
                <form action="https://reddit-nodejs-api-workshop-klingat.c9users.io/posts">
                  <input type="submit" value="<< back to homepage">
                </form>
            </div>
        </div>
        
</div>