<% layout('layout-other') -%>

    <h1>Welcome to Reddit Clone!</h1>
    
    <h3>Create an account to start making your own posts!</h3>
    
    <div class="container">
        <div class="image"><img src="http://cdn.shopify.com/s/files/1/0185/5092/products/persons-0076.png?v=1369543921" alt="reddit logo"></div>

        <div class="form">
            <form id="signUp" action="/signup" method="POST">
                
                 <div class="url" id="username">
                    <input type="text" name="username" placeholder="Enter a username">
                    <p class="username-error"></p>
                 </div>
                 
                 <div class="title" id="password">
                    <input type="password" name="password" placeholder="Enter a password">
                    <p class="password-error"></p>
                 </div>
                 
                 <div id="button">
                     <button type="submit">Signup!😎</button>
                 </div>
            </form>
            <div class="homepage">
                <form action="https://reddit-nodejs-api-workshop-klingat.c9users.io/posts">
          <input type="submit" value="<< back to homepage">
        </form>
            </div>
        </div>

    </div>
